<?xml version="1.0" encoding="utf-8"?><!--
/*#######################################################
 *
 *   Maintained by Gregor Santner, 2016-
 *   https://gsantner.net/
 *
 *   License of this file: GNU GPLv3 (Commercial upon request)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
#########################################################*/
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.gsantner.memetastic"
    android:installLocation="auto"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="net.gsantner.memetastic.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <!-- Activities -->
        <activity
            android:name="net.gsantner.memetastic.activity.MainActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="net.gsantner.memetastic.activity.MemeCreateActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/create_meme__appspecific"
            android:parentActivityName="net.gsantner.memetastic.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.gsantner.memetastic.activity.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.EDIT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.gsantner.memetastic.activity.SettingsActivity"
            android:label="@string/settings"
            android:launchMode="singleInstance"
            android:parentActivityName="net.gsantner.memetastic.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.gsantner.memetastic.activity.MainActivity" />
        </activity>
        <activity
            android:name="net.gsantner.memetastic.activity.MoreInfoActivity"
            android:launchMode="singleInstance"
            android:parentActivityName="net.gsantner.memetastic.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.gsantner.memetastic.activity.MainActivity" />
        </activity>
        <activity
            android:name="net.gsantner.memetastic.activity.ImageViewActivity"
            android:parentActivityName="net.gsantner.memetastic.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.gsantner.memetastic.activity.MainActivity" />
        </activity>
    </application>

</manifest>
